---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=appid&lat=39.6937&lon=-105.0152&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.6937,"lon":-105.0152,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1687292615,"sunrise":1687260730,"sunset":1687314660,"temp":85.82,"feels_like":82.63,"pressure":1009,"humidity":19,"dew_point":38.84,"uvi":11.1,"clouds":40,"visibility":10000,"wind_speed":3.44,"wind_deg":0,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1687292640,"precipitation":0},{"dt":1687292700,"precipitation":0},{"dt":1687292760,"precipitation":0},{"dt":1687292820,"precipitation":0},{"dt":1687292880,"precipitation":0},{"dt":1687292940,"precipitation":0},{"dt":1687293000,"precipitation":0},{"dt":1687293060,"precipitation":0},{"dt":1687293120,"precipitation":0},{"dt":1687293180,"precipitation":0},{"dt":1687293240,"precipitation":0},{"dt":1687293300,"precipitation":0},{"dt":1687293360,"precipitation":0},{"dt":1687293420,"precipitation":0},{"dt":1687293480,"precipitati[...]
