---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&latitude=39.6937&longitude=-105.0152
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Authorization
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - e0db581c3fc5c0f1
      Ratelimit-Dailylimit:
      - '5000.0'
      Ratelimit-Remaining:
      - '4989.0'
      Ratelimit-Resettime:
      - '2023-06-21T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-6847d977db-v7b92; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-189-97-useast1bprod
      X-Extlb:
      - 10-65-189-97-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "fXA9hf0IfVRtvSEc9mxnPw", "alias": "star-kitchen-denver",
        "name": "Star Kitchen", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/4dkpPrRVdJXCUFl4GdCbZQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/star-kitchen-denver?adjust_creative=izgmcelmF4K6ZNLCCA-1NA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=izgmcelmF4K6ZNLCCA-1NA",
        "review_count": 1180, "categories": [{"alias": "dimsum", "title": "Dim Sum"},
        {"alias": "seafood", "title": "Seafood"}, {"alias": "cantonese", "title":
        "Cantonese"}], "rating": 4.0, "coordinates": {"latitude": 39.697298, "longitude":
        -105.024301}, "transactions": ["pickup", "delivery"], "price": "$$", "location":
        {"address1": "2917 W Mississippi Ave", "address2": "Ste 5", "address3": "",
        "city": "Denver", "zip_code": "80219", "country": "US", "state": "CO", "display_address":
        ["2917 W Mississippi Ave", "Ste 5", "Denver, CO 80219"]}, "phone": "+13039360089",
        "display_phone": "(303) 936-0089", "distance": 875.4377511407145}, {"id":
        "VOhBjGoL12ss4f0pxBfoVA", "alias": "pepper-asian-bistro-ii-denver", "name":
        "Pepper Asian Bistro II", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/KZzxO_9sbWFj3C8hmhIWAg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/pepper-asian-bistro-ii-denver?adjust_creative=izgmcelmF4K6ZNLCCA-1NA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=izgmcelmF4K6ZNLCCA-1NA",
        "review_count": 473, "categories": [[...]
